h2{
    color: rgb(31, 31, 31);
    font-size: 35px;
}
h1{color: black;
    font-size: 69px;
}
h4{font-size: 20px;}

br{ 
    color: black;
}

header{
    text-align: center;
}
main{
    margin: auto 5%;
}
a{
    text-decoration: none;
    color: rgb(46, 119, 255);
    margin-right: 30px;
    font-size: 30px;
}
body{
background-color: #bfffa6;
}
img{ width: 1300px!important;
    height: 400px!important;
}

